
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,0,0,1) 100%);
}
.header__store {
	background: rgba(74, 33, 33, 0.425);
	color: $primary-color-h1;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding: 20px 0;
	transition: all .5s ease-in-out;
	.navbar-brand {
	  color: $primary-color-h1;
	  font-size: 40px;
	  &:hover {
		color: blue;
		transition: all 0.5s ease-in;
	  }
	}
	.collapse {
	  justify-content: flex-end;
	  .nav-link {
		color: $primary-color-h1;
		font-size: 25px;
		margin-right: 20px;
		&:hover {
		  color: $primary-hover-a;
		  transition: all 0.5s ease-out;
		}
	  }
	}
}
.content {
    max-width: 500px;
    margin: 0 auto;
    .bg__img__1{
        position: absolute;
        top :  100px;
        left: 30px;

        img {
            @include img-card
        }
    }
    .bg__img__2{
        position: absolute;
        top : 100px;
        right: 30px;

        img {
            @include img-card
        }
    }
    .modal {
        background: rgb(74,72,73);
        background: radial-gradient(circle, rgba(74,72,73,1) 0%, rgba(0,0,0,1) 100%);
        height: 100vh;
        .modal-body{
            max-width: 500px;
            margin: 50px auto;
        }
    }
}

